# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Environment variables (only if you have them)
.env
.env.local

# Metro bundler
.metro-health-check*

# OS-level junk
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Android build output
/android/app/build/
/android/.gradle/
/android/.cxx/

# iOS build output
/ios/build/
ios/Pods/

# Xcode user data
xcuserdata/

# Keystore (DO NOT upload)
*.keystore
!debug.keystore
